:root {
    background-color: rgb(93, 64, 50);
    margin: 0;
    padding: 0;
}

input {
    height: 1.7rem;
    width: 10rem;
    background-color: transparent;
    font-size: 1.3rem;
    margin-top: 14px;
    border: none;

}

input:focus {
    outline: none;
}
  
.paper {
    height: 95vh;
    background: center / contain url(notebook-page.jpg);
    margin: 1% 25%;
}

.players {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-top: 76px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: center;
}
.game-board > div {
    border-style: solid;
    border-width: 2px;
    font-size: 5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.game-board > :nth-child(-n + 3) {
    border-top: none;
}

.game-board > :nth-child(n + 7) {
    border-bottom: none;
}

.game-board > :nth-child(3n + 1) {
    border-left: none;
}

.game-board > :nth-child(3n + 3) {
    border-right: none;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-template-rows: repeat(3, 5rem);
    margin-left: 15%;
}

.game-board:hover {
    cursor: pointer;
}

